body {
    background-color: black;
    color: rgb(172, 115, 30);
    text-align: center;
    font-family: Helvetica;
}

h1 {
    font-size: 40pt;
}

header p {
    width: 400px;
    color: #FFF;
    margin: auto;
    text-align: justify;
}

section {
    display: block;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

button {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(172, 115, 30);
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: white;
    transition: .5s;
}

p {
    position: relative;
}

a {
    color: black;
    text-decoration-line: none;
}

a:visited {
    color: black;
    text-decoration-line: none;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(172, 115, 30);
    color: #FFF;
    width: 99%;   
    text-align: center;
}